{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facturas de proveedores</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Proveedor</th>
                <th>Fecha emisión</th>
                <th>Número</th>
                <th>Vencimiento</th>
                <th>CtaCte</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for comprobanteProveedor in comprobanteProveedors %}
            <tr>
                <td>{{ comprobanteProveedor.idProveedor.id.razonSocial }}</td>
                <td>{{ comprobanteProveedor.fechaEmision.date|date('d-m-Y H:i') }}</td>
                <td>{{ comprobanteProveedor.numero }}</td>
                <td>{% if comprobanteProveedor.fechaVencimiento %}{{ comprobanteProveedor.fechaVencimiento|date('d-m-Y') }}{% endif %}</td>
                <td>{% if comprobanteProveedor.cuentaCorriente %}Si{% else %}No{% endif %}</td>
                <td>{{ comprobanteProveedor.total }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comprobanteproveedor_show', { 'id': comprobanteProveedor.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <button class="btn btn-success pull-right" onclick="location.href='{{ path('comprobanteproveedor_new') }}';">Cargar nueva factura</button>
    </div>
{% endblock %}
