{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comprobanteproveedors list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Proveedor</th>
                <th>Fecha emision</th>
                <th>Numero</th>
                <th>Vencimiento</th>
                <th>CtaCte</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comprobanteProveedor in comprobanteProveedors %}
            <tr>
                <td>{{ comprobanteProveedor.id }}</td>
                <td>{{ comprobanteProveedor.idProveedor.razonSocial }}</td>
                <td>{{ comprobanteProveedor.fechaEmision.date|date('Y-m-d H:i') }}</td>
                <td>{{ comprobanteProveedor.numero }}</td>
                <td>{% if comprobanteProveedor.fechaVencimiento %}{{ comprobanteProveedor.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{% if comprobanteProveedor.cuentaCorriente %}Yes{% else %}No{% endif %}</td>
                <td>{{ comprobanteProveedor.total }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comprobanteproveedor_show', { 'id': comprobanteProveedor.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comprobanteproveedor_new') }}">Create a new comprobanteProveedor</a>
        </li>
    </ul>
{% endblock %}
