{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comprobanteproveedor</h1>

    <table>
        <tbody>
            <tr>
                <th>Proveedor</th>
                <td>{{ comprobanteProveedor.idProveedor.id.razonSocial }}</td>
            </tr>
            <tr>
                <th>Fecha emision</th>
                <td>{% if comprobanteProveedor.fechaEmision %}{{ comprobanteProveedor.fechaEmision|date('Y-m-d H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Letra</th>
                <td>{{ comprobanteProveedor.letra }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ comprobanteProveedor.numero }}</td>
            </tr>
            <tr>
                <th>Punto de venta</th>
                <td>{{ comprobanteProveedor.puntoVenta }}</td>
            </tr>
            <tr>
                <th>Fecha vencimiento</th>
                <td>{% if comprobanteProveedor.fechaVencimiento %}{{ comprobanteProveedor.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>CtaCte</th>
                <td>{% if comprobanteProveedor.cuentaCorriente %}Si{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Remito fecha emision</th>
                <td>{{ comprobanteProveedor.idRemito.fecha|date('Y-m-d H:i') }}</td>
            </tr>
            <tr>
                <th>Remito numero</th>
                <td>{{ comprobanteProveedor.idRemito.numero }}</td>
            </tr>
            <tr>
                <th>Subtotal</th>
                <td>{{ comprobanteProveedor.subtotal }}</td>
            </tr>
            <tr>
                <th>Descuento porcentaje</th>
                <td>{{ comprobanteProveedor.descuentoPorcentaje }}</td>
            </tr>
            <tr>
                <th>Neto gravado</th>
                <td>{{ comprobanteProveedor.netoGravado }}</td>
            </tr>
            <tr>
                <th>Total iva</th>
                <td>{{ comprobanteProveedor.totalIva }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ comprobanteProveedor.total }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ comprobanteProveedor.id }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped">
        <thead class="panel-primary">
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Cantidad recibida</th>
            <th>Precio unitario</th>
        </tr>
        </thead>
        <tbody>
        {% for detalle in detalles %}
            <tr>
                <td>{{ detalle.nombre }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>{{ detalle.cantidadRecibida }}</td>
                <td>{{ detalle.precio }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comprobanteproveedor_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('comprobanteproveedor_edit', { 'id': comprobanteProveedor.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
