{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comprobanteproveedor</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comprobanteProveedor.id }}</td>
            </tr>
            <tr>
                <th>Idproveedor</th>
                <td>{{ comprobanteProveedor.idProveedor }}</td>
            </tr>
            <tr>
                <th>Idremito</th>
                <td>{{ comprobanteProveedor.idRemito }}</td>
            </tr>
            <tr>
                <th>Fechaemision</th>
                <td>{% if comprobanteProveedor.fechaEmision %}{{ comprobanteProveedor.fechaEmision|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Letra</th>
                <td>{{ comprobanteProveedor.letra }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ comprobanteProveedor.numero }}</td>
            </tr>
            <tr>
                <th>Puntoventa</th>
                <td>{{ comprobanteProveedor.puntoVenta }}</td>
            </tr>
            <tr>
                <th>Fechavencimiento</th>
                <td>{% if comprobanteProveedor.fechaVencimiento %}{{ comprobanteProveedor.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cuentacorriente</th>
                <td>{% if comprobanteProveedor.cuentaCorriente %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Subtotal</th>
                <td>{{ comprobanteProveedor.subtotal }}</td>
            </tr>
            <tr>
                <th>Descuentoporcentaje</th>
                <td>{{ comprobanteProveedor.descuentoPorcentaje }}</td>
            </tr>
            <tr>
                <th>Netogravado</th>
                <td>{{ comprobanteProveedor.netoGravado }}</td>
            </tr>
            <tr>
                <th>Totaliva</th>
                <td>{{ comprobanteProveedor.totalIva }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ comprobanteProveedor.total }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comprobanteproveedor_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('comprobanteproveedor_edit', { 'id': comprobanteProveedor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
