{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cuentabancos list</h1>

    <table>
        <thead>
            <tr>
                <th>Numero</th>
                <th>Cbu</th>
                <th>Activa</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cuentaBanco in cuentaBancos %}
            <tr>
                <td><a href="{{ path('cuentabanco_show', { 'id': cuentaBanco.id }) }}">{{ cuentaBanco.numero }}</a></td>
                <td>{{ cuentaBanco.cbu }}</td>
                <td>{% if cuentaBanco.activa %}Yes{% else %}No{% endif %}</td>
                <td>{{ cuentaBanco.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cuentabanco_show', { 'id': cuentaBanco.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cuentabanco_edit', { 'id': cuentaBanco.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cuentabanco_new') }}">Create a new cuentaBanco</a>
        </li>
    </ul>
{% endblock %}
