{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pedidos list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Fecha Emisión</th>
                <th>Obra</th>
                <th>Contratista</th>
                <th>Necesario para</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for pedido in pedidos %}
            <tr>
                <td><a href="{{ path('pedido_show', { 'id': pedido.id }) }}">{{ pedido.numero }}</a></td>
                <td>{% if pedido.fecha %}{{ pedido.fecha|date('Y-m-d H:i') }}{% endif %}</td>
                <td>{{ pedido.obraNombre }}</td>
                <td>{{ pedido.razonSocial }}</td>
                <td>{% if pedido.necesarioParaFecha %}{{ pedido.necesarioParaFecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ pedido.estadoNombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pedido_show', { 'id': pedido.id }) }}">Ver</a>
                        </li>
                        {% if pedido.estadoId == 1 or pedido.estadoId == 2 %}
                            <li>
                                <a href="{{ path('pedido_edit', { 'id': pedido.id }) }}">Editar</a>
                            </li>
                            <li>
                                <a href="#" onclick="fncancelar({{ pedido.id }})">Cancelar</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <button class="btn btn-success pull-right" onclick="location.href='{{ path('pedido_new') }}';">Crear nuevo pedido</button>
    </div>

    <script>
        function fncancelar(idPedido){
            console.log(idPedido);
            if(idPedido != 0){
                $.ajax({
                    url:'{{ (path('estado_edit')) }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "idPedido": idPedido,
                        "estado": 4/*yeah, i know this is wrong*/
                    },
                    async: true,
                    success: function ()
                    {
                        alert("Pedido cancelado");
                        location.reload();
                    },
                    error: function() {
                        alert('El pedido no pudo ser cancelado');
                    }
                });
            }
        }
    </script>
{% endblock %}
