{% extends 'base.html.twig' %}

{% block body %}
    <h1>Detalleordens list</h1>

    <table>
        <thead>
            <tr>
                <th>Cantidad</th>
                <th>Preciounitario</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detalleOrden in detalleOrdens %}
            <tr>
                <td><a href="{{ path('detalleorden_show', { 'id': detalleOrden.id }) }}">{{ detalleOrden.cantidad }}</a></td>
                <td>{{ detalleOrden.precioUnitario }}</td>
                <td>{{ detalleOrden.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('detalleorden_show', { 'id': detalleOrden.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('detalleorden_edit', { 'id': detalleOrden.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('detalleorden_new') }}">Create a new detalleOrden</a>
        </li>
    </ul>
{% endblock %}
