{% extends 'base.html.twig' %}

{% block body %}
    <h1>Detalleorden</h1>

    <table>
        <tbody>
            <tr>
                <th>Cantidad</th>
                <td>{{ detalleOrden.cantidad }}</td>
            </tr>
            <tr>
                <th>Preciounitario</th>
                <td>{{ detalleOrden.precioUnitario }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ detalleOrden.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('detalleorden_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('detalleorden_edit', { 'id': detalleOrden.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
