{% extends 'base.html.twig' %}

{% block body %}
    <h1>Remitos list</h1>

    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Numero</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for remito in remitos %}
            <tr>
                <td><a href="{{ path('remito_show', { 'id': remito.id }) }}">{{ remito.fecha }}</a></td>
                <td>{{ remito.numero }}</td>
                <td>{{ remito.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('remito_show', { 'id': remito.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('remito_edit', { 'id': remito.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('remito_new') }}">Create a new remito</a>
        </li>
    </ul>
{% endblock %}
