{% extends 'base.html.twig' %}

{% block body %}
    <h1>Materiales list</h1>

    <table id="productos" class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Unidad</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="tproductos">
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td><a href="{{ path('producto_show', { 'id': producto.id }) }}">{{ producto.nombre }}</a></td>
                <td>{{ producto.unidad }}</td>
                <td>{{ producto.stock }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('producto_show', { 'id': producto.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('producto_new') }}">Create a new producto</a>
        </li>
    </ul>

    <script>
        var tablaproductos = $('#productos').DataTable({
            paging: false//true when we have more products
        });
    </script>
{% endblock %}
