{% extends 'base.html.twig' %}

{% block body %}
    <h1>Producto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producto.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ producto.nombre }}</td>
            </tr>
            <tr>
                <th>Unidad</th>
                <td>{{ producto.unidad }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ producto.stock }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Precio</th>
                <th>Proveedor</th>
                <th>Ultima actualizacion</th>
            </tr>
        </thead>
        <tbody>
        {% for precio in precios %}
            <tr>
                <td>{{ precio.precio }}</td>
                <td>{{ precio.idProveedor.razonSocial }}</td>
                <td>{{ precio.fechaUltimaActualizacion.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('producto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('producto_edit', { 'id': producto.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
