{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contratistaobra</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contratistaObra.id }}</td>
            </tr>
            <tr>
                <th>Fechadesde</th>
                <td>{% if contratistaObra.fechaDesde %}{{ contratistaObra.fechaDesde|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechahasta</th>
                <td>{% if contratistaObra.fechaHasta %}{{ contratistaObra.fechaHasta|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Obra</th>
                <td>{{ contratistaObra.nombre }}</td>
            </tr>
            <tr>
                <th>Contratista</th>
                <td>{{ contratistaObra.razonSocial }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contratistaobra_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contratistaobra_edit', { 'id': contratistaObra.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
