{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contratistarubros list</h1>

    <table>
        <thead>
            <tr>
                <th>Razon Social</th>
                <th>Rubro</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contratistaRubro in contratistaRubros %}
            <tr>
                <td><a href="{{ path('contratistarubro_show', { 'id': contratistaRubro.id }) }}">{{ contratistaRubro.razonSocial }}</a></td>
                <td>{{ contratistaRubro.rubro }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contratistarubro_show', { 'id': contratistaRubro.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contratistarubro_edit', { 'id': contratistaRubro.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contratistarubro_new') }}">Create a new contratistaRubro</a>
        </li>
    </ul>
{% endblock %}
