{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modopagos list</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for modoPago in modoPagos %}
            <tr>
                <td><a href="{{ path('modopago_show', { 'id': modoPago.id }) }}">{{ modoPago.nombre }}</a></td>
                <td>{{ modoPago.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('modopago_show', { 'id': modoPago.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('modopago_edit', { 'id': modoPago.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('modopago_new') }}">Create a new modoPago</a>
        </li>
    </ul>
{% endblock %}
