{% extends 'base.html.twig' %}

{% block body %}
    <h1>Revision</h1>

    <table>
        <tbody>
            <tr>
                <th>Fecha</th>
                <td>{% if revision.fecha %}{{ revision.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ revision.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('revision_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('revision_edit', { 'id': revision.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
