<form id="frmordencompra" method='POST' action=''>

    <div class="row">
        <div class="form-group col-sm-2">
            <label>Fecha:</label>
            <input type="text" readonly required="required" class="form-control text-center" name="fecha"
                {% if ordencompra.fecha is defined %}
                    value="{{ ordencompra.fecha | date("d/m/Y") }}"
                {% else %}
                    value="{{ "now" | date("d/m/Y") }}"
                {% endif %}
            >
        </div>

        <div class="form-group col-sm-2">
            <label>Numero:</label>
            <input type="text" readonly required="required" class="form-control text-center" name="numero"
                {% if ordencompra.numero is null %}
                    value="1"
                {% elseif detalles is defined %}
                    value="{{ ordencompra.numero }}"
                {% else %}
                    value="{{ ordencompra.numero + 1 }}"
                {% endif %}
            >
        </div>
        <div class="form-group col-sm-2">
            <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#modalobra" style="margin-top: 24px">Seleccionar Obra</button>
        </div>


        <div class="form-group col-sm-6">
            <input id="idobra" type="hidden" name="idobra">
            <label for="nombreobra">Obra:</label>
            <input id="nombreobra" readonly class="form-control" type="text" name="nombreobra">
        </div>
    </div>

    <div class="form-group panel panel-default" style="padding: 5px">
        <div class="panel-heading" style="margin: 5px">
            Pedidos
        </div>
        <table id="tablapedidos" class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th class="col-md-1">Número</th>
                <th class="col-md-2">Fecha emisión</th>
                <th class="col-md-2">Necesario para</th>
                <th class="col-md-4">Contratista</th>
                <th class="col-md-3">Incluir en orden</th>
            </tr>
            </thead>
            <tbody id="tpedidobody">
            </tbody>
        </table>
    </div>

    <div class="form-group panel panel-default" style="padding: 5px">
        <div class="panel-heading" style="margin: 5px">
            Productos
        </div>
        <table id="tablapedidofinal" class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th class="col-md-3">Producto</th>
                <th class="col-md-1">Stock</th>
                <th class="col-md-3">Cantidad requerida</th>
                <th class="col-md-3">Cantidad a incluir</th>
                <th class="col-md-2">Precio unitario</th>
            </tr>
            </thead>
            <tbody id="tpedidobodyfinal">
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="form-group col-sm-4">
            <label for="proveedor">Proveedor</label>
            <select id="proveedor" class="form-control">
                <option value="0"></option>
                {% for proveedor in proveedores %}
                    <option value="{{ proveedor.id }}">{{ proveedor.razonSocial }}</option>
                {% endfor %}
            </select>
        </div>


        <div class="col-xs-2 pull-right">
            <div class="form-group">
                <label>Total:</label>
                <input id="total" readonly class="form-control pull-right" type="text" name="total">
            </div>
        </div>
        <div class="col-xs-2 pull-right">
            <div class="form-group">
                <label>Subtotal:</label>
                <input id="subtotal" readonly class="form-control" type="text" name="subtotal">
            </div>
        </div>
        <div class="form-group col-sm-1 pull-right">
            <input id="proveedorselected" type="hidden" name="proveedorselected">
            <input id="convenio" type="text" class="form-control" style="max-width: 50px; margin-top: 25px; visibility: hidden" readonly>
            <input id="descuentoconvenio" type="hidden" value="0">
        </div>

    </div>

    {{ include(':pedido:modalobra.html.twig') }}

    {{ include(':ordencompra:modaldetalle.html.twig') }}

    {{ include(':ordencompra:modalcantidad.html.twig') }}

    <input id="arrproductos" type="hidden" name="arrproductos">
    <input id="arrdetalles" type="hidden" name="arrdetalles">

    <div class="form-group">
        <button id="nuevaordencompra" class="btn btn-success pull-right" type="submit" style="margin-top: 15px;">Generar orden de compra</button>
    </div>
</form>

<script>

    var detalleOrden = [];

    var cargarJson = function(idpedido, idproducto, nombreproducto, stock, cantidad, precio){
        var detalle = {
            'idpedido':idpedido,
            'idproducto':idproducto,
            'nombreproducto':nombreproducto,
            'stock':stock,
            'cantidad':cantidad,
            'precio':precio
        };
        detalleOrden.push(detalle);
    };

    var actualiarTablaDetalle = function(){
        //data shown
        //idproducto,nombreproducto,stock,cantidad,precio(no hasta que seleccione un proveedor)
        tablafinal.clear().draw();
        if(detalleOrden.length > 0){
            $.each(detalleOrden, function (index, value) {
                if (tablafinal.data().any()) {
                    //using i in function every instead of defining the variable avoid indexing problems when compare con array index
                    //CHECK IT ON requests (done, fixed)
                    var y=0;
                    var cantidadencontrada = 0;
                    tablafinal.rows().every(function (i) {
                        var data = this.data();
                        if(value.idproducto == data[0]){
                            cantidadencontrada = data[3];
                            y=i;
                        }
                    });
                    if(cantidadencontrada != 0){//se encontraron datos repetidos en la tabla, actualiza
                        var cantidadtotal = parseInt(cantidadencontrada) + parseInt(value.cantidad);
                        tablafinal.cell(y, 3).data(cantidadtotal);
                        let cant = parseInt(tablafinal.cell(y, 3).data() - parseInt(tablafinal.cell(y, 2).data()));
                        if(cant < 0){
                            cant = 0;
                        }
                        tablafinal.cell(y, 4).data(cant);
                    }else{//tabla con datos, pero no se encontro repetido
                        let cant = parseInt(value.cantidad)-parseInt(value.stock);
                        if(cant < 0){
                            cant = 0;
                        }
                        tablafinal.row.add([value.idproducto,value.nombreproducto,value.stock,value.cantidad,cant,value.precio]).draw(false);
                    }
                }
                else{//primer dato que se carga a la tabla
                    let cant = parseInt(value.cantidad)-parseInt(value.stock);
                    if(cant < 0){
                        cant = 0;
                    }
                    tablafinal.row.add([value.idproducto,value.nombreproducto,value.stock,value.cantidad,cant,value.precio]).draw(false);
                }
            });
        }
        calcularTotales();
        crearArregloProductos();
        crearArregloDetalles();
    };

    //it should calculate totals with json object instead the table
    var calcularTotales = function(){
        var total = 0;
        tablafinal.rows().every(function () {
            var data = this.data();
            total += parseInt(data[4]) * parseFloat(data[5]);
        });
        var valortotal = $('#total');
        valortotal.val(total);
        var descuento = $('#descuentoconvenio').val();
        if(descuento != 0){
            var totaldescuento = $('#totaldescuento');
            totaldescuento.val(total - (total * parseFloat(descuento) / 100))
        }
    };

    var eliminarDetalleJson = function(idpedido){
        var i = detalleOrden.length;
        while(i--){//backwards to avoid reindex when splice
            if(detalleOrden[i].idpedido == idpedido) {
                detalleOrden.splice(i, 1);
            }
        }

    };

    var tabla = $('#tablapedidos').DataTable({
        paging: false,
            "columnDefs":[{
            "targets": [0],
            "visible": false
        },
            {"className":
                "dt-center",
                "targets": [5]}
        ]
    });

    var tablafinal = $('#tablapedidofinal').DataTable({
        paging: false,
        "columnDefs":[{
            "targets": [0],
            "visible": false
        },
            {"className":
                "dt-center",
                "targets": [2,3,4,5]}
        ]
    });

    $(document).on('click', '#tobra tr', function () {
        var id = $(this).find('#id').text();
        var nombre = $(this).find('#nombre').text();
        $('#idobra').val(id);
        $('#nombreobra').val(nombre);
        $('#modalobra').modal('hide');
        buscarPedidos();
    });

    var formatDate = function(date){
        var dateObj = new Date(date);
        var month = dateObj.getMonth() + 1; //months from 1-12
        var day = dateObj.getDate();
        var year = dateObj.getFullYear();
        return day+"/"+month+"/"+year;
    };

    var buscarPedidos = function(selected){
        var valor = $('#idobra').val();
        if(valor != 0){
            $.ajax({
                url:'{{ (path('buscar_pedidos_obra')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "idobra": valor
                },
                async: true,
                success: function (data)
                {
                    tabla.clear();
                    $.each(data, function (index, value) {
                        var id = value.id;
                        var numero = value.numero;
                        var fecha = value.fecha.date;
                        var necesarioParaFecha = value.necesarioParaFecha.date;
                        var contratista = value.razonSocial;
                        var checkbox = `<input type="checkbox" class="custom-control-input chkincluir" onclick='check(this)' value="${id}">`;
                        tabla.row.add([id, numero, formatDate(fecha), formatDate(necesarioParaFecha), contratista, checkbox]).draw(false);
                    });
                },
                error : function() {
                    alert('Ajax request failed.');
                }
            });
            return false;
        }
    };

    $('#proveedor').on('change', function () {
        var convenio = $('#convenio');
        convenio.val('');
        var descuentoconvenio = $('#descuentoconvenio');
        descuentoconvenio.val('');
        $('#convenio').css('visibility', 'hidden');

        var valor = $('#proveedor').val();
        $("#proveedorselected").val(valor);
        if(valor != 0){
            $.ajax({
                url:'{{ (path('buscar_convenio_proveedor')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "idproveedor": valor
                },
                async: true,
                success: function (data)
                {
                    $.each(data, function (index, value) {
                        var descuento = value.descuentoPorcentaje;

                        var mensaje = `-${descuento}%`;
                        convenio.val(mensaje);
                        descuentoconvenio.val(descuento);
                        $('#convenio').css('visibility', 'visible');
                    });
                },
                error : function() {
                    alert('Ajax request failed.');
                }
            });
            return false;
        }
    });

    tabla.on('click', 'td', function(){
        if(parseInt(tabla.cell(this).index().column) != 5){//not click on the checkbox
            var valor = parseInt(tabla.row(this).data()[0]);//idpedido
            var numeroPedido = tabla.row(this).data()[1];
            if(valor != 0){
                $.ajax({
                    url:'{{ (path('buscar_detalles_pedido')) }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "idpedido": valor
                    },
                    async: true,
                    success: function (data)
                    {
                        var tabladetalle = $('#tabladetalle');
                        tabladetalle.html('');

                        $('#modaltitulo').text(`Detalle Pedido #${numeroPedido}`);

                        $.each(data, function (index, value) {
                            var cantidad = value.cantidad;
                            var nombre = value.nombre;

                            var row = `<tr><td>${nombre}</td><td>${cantidad}</td></tr>`;
                            tabladetalle.append(row);
                        });
                        $('#modaldetalle').modal('show');
                    },
                    error : function() {
                        alert('Ajax request failed.');
                    }
                });
                return false;
            }
        }
    });

    tablafinal.on('dblclick', 'td', function(){
        if (tablafinal.data().any()) {
            if(parseInt(tablafinal.cell(this).index().column) == 4){//click on amount to include
                var index = parseInt(tablafinal.cell(this).index().row);
                $('#indexeditar').val(index);
                var cantidad = parseInt(tablafinal.cell(this).data());
                $('#quantity').val(cantidad);
                $('#modalcantidad').modal('show');
            }
        }
    });

    var check = function(checkbox){
        buscarDetallePedido(checkbox);
        buscarPrecios();
    };

    var buscarDetallePedido = function(checkbox){
        var valor = checkbox.value;//idpedido
        if(checkbox.checked){
            //var proveedor = $("#proveedorselected").val();
            //if(valor != 0){
            $.ajax({
                url:'{{ (path('buscar_detalle_orden')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "idpedido": valor/*,
                     "idproveedor": proveedor*/
                },
                async: true,
                success: function (data)
                {
                    $.each(data, function (index, value) {
                        var pedidoid = value.pedidoid;
                        var productoid = value.productoid;
                        var nombre = value.nombre;
                        var stock = value.stock;
                        var cantidad = value.cantidad;
                        /*var precio = value.precio;*/
                        cargarJson(pedidoid,productoid,nombre,stock,cantidad,0);
                    });
                    actualiarTablaDetalle();
                },
                error : function() {
                    alert('Ajax request failed.');
                }
            });
            return false;
            //}
        }else{
            eliminarDetalleJson(valor);
            actualiarTablaDetalle();
        }
    };

    var buscarPrecios = function (){

    };

    $(document).keydown(function(event) {
        if (event.keyCode == 27) {
            $('#modaldetalle').modal('hide');
            $('#modalcantidad').modal('hide');
        }
    });

    function crearArregloProductos(){
        var producto = "";
        var cantidad = "";
        var array = [];
        var array2 = [];

        if(tablafinal.data().any()) {
            tablafinal.rows().every( function() {
                var data = this.data();
                producto = data[0];
                cantidad = data[4];
                array2 = [producto, cantidad];
                array.push(array2);
            });
        }
        $("#arrproductos").val(array);
    }

    function crearArregloDetalles(){
        var pedidos = [];

        $.each(detalleOrden, function (index, value) {
            if (!pedidos.includes(value.idpedido)) {
                pedidos.push(value.idpedido);
            }
        });

        $("#arrdetalles").val(pedidos);
    }

    $('.quantity-right-plus').click(function(e){
        var button = $(this);
        var oldValue = button.parent().parent().find("input").val();
        // Stop acting like a button
        e.preventDefault();
        button.parent().parent().find("input").val(parseInt(oldValue)+1);
    });

    $('.quantity-left-minus').click(function(e){
        var button = $(this);
        var oldValue = button.parent().parent().find("input").val();
        // Stop acting like a button
        e.preventDefault();
        if(parseInt(oldValue)>=1){
            button.parent().parent().find("input").val(parseInt(oldValue)-1);
        }
    });

    $('#btnaceptar').on('click', function(){
        var cantidad = $('#quantity').val();
        var index = $('#indexeditar').val();
        tablafinal.cell(index, 4).data(cantidad);
        crearArregloProductos();
        calcularTotales();
    });

    var validarForm = function(){
        var obra = $('#nombreobra').val();
        var fechanecesario = new Date($('#necesarioparafecha').val());
        var fechaValida = fechanecesario.isValid();
        var rubro = $('#contratistaobra').val();
        var productos = $("#arrproductos").val().length;
        if(obra != '' && fechaValida && rubro != null && productos > 0){
            $('#nuevopedido').attr('disabled', false);
        }else{
            $('#nuevopedido').attr('disabled', true);
        }
    };
</script>