{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ordencompras list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Numero</th>
                <th>Obra</th>
                <th>Proveedor</th>
                <th>Fechaemision</th>
                <th>Total</th>
                <th>Actions</th>
                <th>Imprimir</th>
            </tr>
        </thead>
        <tbody>
        {% for ordenCompra in ordenCompras %}
            <tr>
                <td><a href="{{ path('ordencompra_show', { 'id': ordenCompra.id }) }}">{{ ordenCompra.id }}</a></td>
                <td>{{ ordenCompra.username }}</td>
                <td>{{ ordenCompra.numero }}</td>
                <td>{{ ordenCompra.obraNombre }}</td>
                <td>{{ ordenCompra.proveedorRazonSocial }}</td>
                <td>{% if ordenCompra.fechaEmision %}{{ ordenCompra.fechaEmision|date('Y-m-d') }}{% endif %}</td>
                <td>{{ ordenCompra.total }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ordencompra_show', { 'id': ordenCompra.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ordencompra_edit', { 'id': ordenCompra.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                <td>
                    <a href="{{ path('ordencompra_pdf', { 'id': ordenCompra.id }) }}" download><button class="btnimprimir">Pdf</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ordencompra_new') }}">Create a new ordenCompra</a>
        </li>
    </ul>
{% endblock %}
