{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ordenes de compra</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Usuario</th>
                <th>Obra</th>
                <th>Proveedor</th>
                <th>Fechaemision</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for ordenCompra in ordenCompras %}
            <tr>
                <td>{{ ordenCompra.numero }}</td>
                <td>{{ ordenCompra.username }}</td>
                <td>{{ ordenCompra.obraNombre }}</td>
                <td>{{ ordenCompra.proveedorRazonSocial }}</td>
                <td>{% if ordenCompra.fechaEmision %}{{ ordenCompra.fechaEmision|date('d-m-Y') }}{% endif %}</td>
                <td>${{ ordenCompra.total }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ordencompra_show', { 'id': ordenCompra.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('ordencompra_edit', { 'id': ordenCompra.id }) }}">Editar</a>
                        </li>
                        <li>
                            <a href="{{ path('ordencompra_pdf', { 'id': ordenCompra.id }) }}" download>Generar pdf</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <button class="btn btn-success pull-right" onclick="location.href='{{ path('ordencompra_new') }}'">Generar nueva orden de compra</button>
    </div>
{% endblock %}
