{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ordencompra</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ordenCompra.id }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ ordenCompra.username }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ ordenCompra.numero }}</td>
            </tr>
            <tr>
                <th>Obra</th>
                <td>{{ ordenCompra.obraNombre }}</td>
            </tr>
            <tr>
                <th>Proveedor</th>
                <td>{{ ordenCompra.proveedorRazonSocial }}</td>
            </tr>
            <tr>
                <th>Fechaemision</th>
                <td>{% if ordenCompra.fechaEmision %}{{ ordenCompra.fechaEmision|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ ordenCompra.total }}</td>
            </tr>

        </tbody>
    </table>

    <table id="myTable" class="table table-striped">
        <thead class="panel-primary">
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio unitario</th>
        </tr>
        </thead>
        <tbody>
        {% for detalle in detalles %}
            <tr>
                <td>{{ detalle.nombre }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>{{ detalle.precioUnitario }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ordencompra_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ordencompra_edit', { 'id': ordenCompra.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
